#.gitignore

*.html
*.php
!functions*.php
!*dev.html
!*dev.php

*.psd
*.PSD
*.cdr
*.CDR
*.ttf
*.TTF
*.otf
*.OTF
*.eof
*.EOF
*.eot
*.EOT

*min.css

*.db

*.map

*.flv
*.wmv
*.mp4
*.swf

*.pdf
*.doc
*.docx
*.odt

*.directory

# GULP / GRUNTJS / NODEJS
node_modules
node_modules/*

# WORDPRESS
!style.css
config
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wordpress/wp-content/uploads/*/*/*.jpg
wordpress/wp-content/uploads/*/*/*.gif
wordpress/wp-content/uploads/*/*/*.png
wp-content/wp-cache-config.php
wordpress/index.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-activate.php
wordpress/wp-admin/
wordpress/wp-blog-header.php
wordpress/wp-comments-post.php
wordpress/wp-content/index.php
wordpress/wp-content/languages/
wordpress/wp-content/plugins/
!wordpress/wp-content/themes/*dev.php
wordpress/wp-content/themes/theme-name/styles/libs/
wordpress/wp-cron.php
wordpress/wp-includes/
wordpress/wp-links-opml.php
wordpress/wp-load.php
wordpress/wp-login.php
wordpress/wp-mail.php
wordpress/wp-settings.php
wordpress/wp-signup.php
wordpress/wp-trackback.php
wordpress/xmlrpc.php
