@import 'jeet'
edit()
normalize-css()

mobile = 500px

body
    font: 16px sans-serif

section
    center(960px)

header
    col(3/3)

    span
        padding: 30px
        fs(50px)
        display: block

aside
    span(1/3)

    ul
        list-style: square
        padding: 0 30px

        li
            a
                reset-link()

            a:hover
                hover-underline()

    +below(mobile)
        col(3/3)

        ul
            text-align: center

        ul
            li
                display: inline
                padding: 10px

article
    span(2/3)

    h2, p
        padding: 0 30px

    +below(mobile)
        col(3/3)
