* {
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
article:before,
article:after {
  content: '';
  display: table;
}
article:after {
  clear: both;
}
article:last-child {
  margin-right: 0%;
}
